@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,900&family=Lexend+Deca&family=Nunito:wght@700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");

body {
  background-color: #0e0c1b;
}

.container {
  display: grid;
  width: 50%;
  margin: auto;
  padding: 80px 0px 50px 0px;
  gap: 15px;
  grid-template-columns: 300px 120px 200px;
  grid-template-rows: 200px 100px 120px;
  grid-template-areas:
    "one one two "
    "three four four"
    "three five five";
}

.grid-1 {
  background-color: #eb5020;
  grid-area: one;
}

.grid-2 {
  background-color: #ffa401;
  grid-area: two;
}

.grid-3 {
  background-color: #05aa42;
  grid-area: three;
}

.grid-4 {
  background-color: #01aefd;
  grid-area: four;
}

.grid-5 {
  background-color: #01aefd;
  grid-area: five;
}

.link-button {
  display: flex;
  width: 30%;
  height: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  background-color: #00000041;
}

button a {
  text-decoration: none;
  color: #fafafa;
}
